/* Write your global styles here, in PostCSS syntax */

@import '@fontsource/fira-mono';

@tailwind base;

:root {
	font-family: 'VT323', monospace;
	--primary-dark: #222222;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-dark);
	color: rgba(255, 255, 255, 0.9);
}

.dark-bg {
	background-color: rgba(255, 255, 255, 0.05);
}

@tailwind components;
@tailwind utilities;
